*{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
    width:100%;
    background-color: rgb(172, 163, 163);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-image: url('./imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-top: 10px;
    padding-left: 2px;
}
.box{
   border: 8px solid rgb(0, 0, 0);
   height: 600px;
   width: 1100px;
   background-color: rgb(199, 207, 214);
}

.head h1{
    font-size: 35px;
    text-align: center;
}
.para{
    font-size: 29px;
    margin-left:20px;
    margin-right:20px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid rgb(7, 42, 3);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    margin-left: 480px;

    
    
}
.btn:hover{
    border: 1px solid rgb(5, 116, 27);
    background:  rgb(5, 116, 27);
    transition: 1s;
}
.enjoy{
    padding-top: 55px;
    padding-left: 450px;

}
@media screen and (max-width: 600px)
{
    .container{
    min-height: 100vh;
    width:100%;
    background-color: rgb(172, 163, 163);
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background-image: url('./imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    }
    .box{
        border: 4px solid rgb(0, 0, 0);
        height: 100px;
        width: 100px;
    }
    .head{
        font-size: 10px;
    }
}